* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: linear-gradient(101deg, #176191, #168E63);
}

.container {
    width: 40%;
    margin: 0 auto;
    background: linear-gradient(108deg, #073D4D, #054838);
    padding: 20px;
    text-align: center;
    height: 100%;
    margin-top: 1%;
}

.h-primary {
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    line-height: 1.7;
    font-weight: 500;
    word-spacing: 0.5rem;
    text-shadow: 10px 4px 6px burlywood;
    color: burlywood;
}

.form-title,
.form-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#title,
#text {
    border: 2px solid burlywood;
    padding: 8px;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 20px;
}

#text {
    position: relative;
    left: 4px;
}

.form-btn {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    color: #1a4444;
    position: relative;
    left: 21px;
}

.result {
    text-align: start;
    font-size: 24px;
    color: white;
    font-weight: 900;
    margin: 12px;
    letter-spacing: 0.3rem;
}

.h-secondary,
.post-text {
    color: white;
    width: 100%;
    padding: 5px 20px;
    background: #2f4f4f70;
    border-radius: 4px;
    text-align: start;

}

.post-text {
    margin-top: 10px;
}

.post-div {
    margin-bottom: 25px;
    background: #00000085;
    padding: 20px;
}

.del-btn,
.edit-btn {
    font-size: 22px;
    padding: 9px 15px;
    font-weight: bold;
    background: #2D2926FF;
    color: cornsilk;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.update-title,
.update-text {
    font-size: 1rem;
    padding: 7px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
}

.save-btn {
    font-size: 20px;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    color: #1a4444;
}